body {
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 200px;
}

article img {
  max-height: 100px;
}
